<!DOCTYPE html>
<html>
    <head>
        <title>Secret</title>
        {{> imports_header}}
    </head>
    <body>
        {{> navbar}}
        <div class="main-content">
            <h1>Secret!</h1>
            
            <div>
                This is a secret page only available to authenticated users
            </div>
            
            <img class="img-fluid" src="https://i.imgflip.com/4i0jxb.jpg"/>
            
        </div>
    
        {{> imports_footer}}
    </body>
</html>