<!DOCTYPE html>
<html>
    <head>
        <title>Secret</title>
        {{> imports}}
    </head>
    <body>
        <div class="main-content">
            <h1>Secret!</h1>
            
            <div>
                This is a secret page only available to authenticated users
            </div>
            
            <img src="https://i.imgflip.com/4i0jxb.jpg"/>
        </div>
    </body>
</html>