<!DOCTYPE html>
<html>
    <head>
        <title>Sign-In</title>
        {{> imports_header}}
    </head>
    <body>
        {{> navbar}}
        <div class="main-content">
            <h1>Sign-In Page</h1>

            {{#if err}}
                <div class="alert alert-danger">
                    {{err}}
                </div>
            {{/if}}

            <form method="POST" action="/auth/signin/local">
                <label>Email</label>
                <input type="text" name="email"/><br/>
                <label>Password</label>
                <input type="password" name="password"/><br/>

                <input type="submit">
            </form>
        </div>
        
        {{> imports_footer}}
    </body>
</html>