<!DOCTYPE html>
<html>
    <head>
        <title>Sign-In</title>
        {{> imports_header}}
    </head>
    <body>
        {{> navbar}}
        <div class="container-fluid main-content">
            <h1>Sign-Up Page</h1>

            {{#if err}}
                <div class="alert alert-danger w-50 mx-auto mt-2">
                    {{err}}
                </div>
            {{/if}}
            
            <form method="POST" action="/auth/signup/local">
                <div class="mt-2">
                    <table class="mx-auto infoTable">
                        <tr>
                            <th scope="row"><label class="form-check-label" for="email">E-mail:</label> </th>
                            <td><input class="form-control" type="text" name="email"/></td>
                        </tr>
                        <tr>
                            <th scope="row"><label class="form-check-label" for="password">Password:</label> </th>
                            <td><input class="form-control" type="password" name="password"/></td>
                        </tr>
                    </table>
                </div>
                <button class="btn btn-dark mt-2 mb-1 mx-auto">Sign Up</button>
            </form>

            OR<br>

            <form method="POST" action="/auth/signup/google" >
                <button class="btn btn-dark mt-2 mx-auto"><i class="fab fa-google"></i> Sign Up</button>
            </form>
        </div>
        
        {{> imports_footer}}
    </body>
</html>