<!DOCTYPE html>
<html>
    <head>
        <title>Sign-Up</title>
        {{> imports}}
    </head>
    <body>
        <div class="main-content">
            <h1>Sign-Up Page</h1>

            <form method="POST">
                <label>Username</label>
                <input type="text" name="username"/><br/>
                <label>Password</label>
                <input type="password" name="password"/><br/>

                <input type="submit">
            </form>
        </div>
    </body>
</html>