<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <div class="main-content">
            <h1>User Info Page</h1>

            <strong>username: </strong> {{user.username}}<br/>

            <strong>password: </strong> {{user.password}}<br/>
            <strong>displayName: </strong> {{user.displayName}}<br/>
            <strong>emails: </strong> {{user.emails.[0].value}}<br/>
        </div>
    </body>
</html>