<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <div class="main-content">
            <h1>User Info Page</h1>

            <strong>email: </strong> {{user.email}}<br/>

            <strong>password: </strong> {{user.password}}<br/>
            <strong>Google ID: </strong> {{user.googleId}}<br/>
        </div>
    </body>
</html>