<!DOCTYPE html>
<html>
    <head>
        <title>User Info</title>
        {{> imports_header}}
    </head>
    <body>
        {{> navbar}}
        <div class="main-content">
            <h1>User Info Page</h1>

            <strong>E-mail: </strong> {{user.email}}<br/>

            <strong>Password: </strong> {{user.password}}<br/>
            <strong>Google ID: </strong> {{user.googleId}}<br/>
        </div>
        {{> imports_footer}}
    </body>
</html>