<!DOCTYPE html>
<html>
    <head>
        <title>Secret</title>
        {{> imports_header}}
    </head>
    <body>
        {{> navbar}}
        <div class="main-content">
            <h1>Welcome!</h1>
            
            <div>
                This is a GREAT THING! The passport and authentication test
            </div>
            
        </div>
    
        {{> imports_footer}}
    </body>
</html>