<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        {{> imports_header}}
    </head>
    <body>
        {{> navbar}}
        <div class="container-fluid mt-2">
            <h1 class="text-center">Welcome!</h1>
            
            <div>
                This is a GREAT THING! The passport and authentication test is to add a native (local) and google oauth sign in as well as authenticate certain routes and get user information.
            </div>
            
        </div>
    
        {{> imports_footer}}
    </body>
</html>